*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
}
/* regole intestazione */
header{
    background-color: blue;

    /* debug */
    height: 600px;
}
/* regole nav */
nav{
    position: relative;
    width: 60%;
    margin: auto;
}
/* creo due menu nav */
.menu-nav{
    background-color: blue;
    width: 70%;
    display: inline-block;
}
.menu-nav2{
    background-color: blue;
    position:absolute;
    display: inline-block;
    right: 0;
    width: 30%;
    text-align: center;
    line-height: 40px;
}
/*cerco di impostare all'ultimo figlio che deve essere a zero margine del div
 non funziona */
.menu-nav li, .menu-nav2 li{
    display: inline-block;
    margin-right: 10px;
}
.menu-nav li a, .menu-nav2 li a{
    text-decoration: none;
    color: white;
    padding-right: 15px;
    font-size: 12px;
}

/* .menu-nav li:last-child ,  */
.menu-nav2 li:last-child {
    position: absolute;
    margin-right: 0px;
}
.menu-nav2 li a:first-child{
    left:0;
}

#logo{
    margin-right: 40px;
}
.vertical-middle{
    vertical-align: middle;
}

#image-header{
    background-image: url(../img/background-header.png);
    background-position:50% 50%;
    background-size: 1000px;
    background-repeat: no-repeat;
}

.title{
    width: 30%;
    margin-left:20%;
    margin-top: 150px;
    color: white;
}

h1{
    margin-bottom:30px;
    font-size: 50px;
}

.link{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 150;
}
/* finito header */

/* inizio prima sezione */
.title-2{
    background-color: red;
    height: 100px;
}

.row{
    background-color: green;
    min-height: 200px;
    border: solid 1px black;
    margin:auto;
    width: 60%;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}
.lightblue{
    background-color: gray;
    min-height: 200px;
    border: solid 1px black;
}

.aside{
    float: left;
    width: 30%;
    margin:20px 0;
    min-height: 250px;
}
.centre{
    float: left;
    width: 30%;
    margin:20px 5%;
    min-height: 250px;

}
.photo-centering{
    height: 130px;
    object-fit: cover;
    margin: 20px auto;
    display: block;
}
/* regola per selezionare i figli */

/* p:nth-child(2) {
  background: red;
} */



/* regole per non selezionare i figli */

/* :not(p) {
  background: #ff0000;
} */


/* regola dell'ultimo filgio */

/*p:last-child {
  background: #ff0000;
} */
